/*styles for my resume*/ 

/*changes the whole webpage to this*/
body{
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 1 em;
	color: #444;
}

#container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50 px;
}

/*400 is the default weight "boldness" for webpages*/

#title{
	font-weight: 600px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px
}


#name {
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #33485e;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
}

/*section headers*/

.sectionheader{
	font-size: 1.5 em;
	text-transform: uppercase;
	background-color: #33485e;
	color: #fff;
	margin-bottom: 10 px;
	margin-top: 20 px;
	margin-right: 0 px;
	margin-left: 0 px;
	width: 70%;
	min-width: 300px;
}

/* . = class selector */

.jobtitle{
	font-weight: 600;
	font-size: 1.5 em;
}

.organization{
	font-size: 1.25 em;
}

.date{
	font-style: italic;
	font-size:1 em;
	margin-top: 2px;
}

.description{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*this is for the contact info menu*/

.menu{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.menu li{
	display: inline;
}

#degrees{
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

/* # = id selectors*/

#do{
 	margin-top: 5px;
 	margin-bottom: 0px;
 	margin-right: 0px;
 	margin-left: 0px;
 }

.top {
	width: 60%;
	min-width: 300px;
	margin:0 auto;
	margin-bottom: 30px;
}

/*changes size for contact info, skills and education*/

ul{
	font-size: 1 em;
}